<!DOCTYPE html>
<html>
<head>
    <title>Accounts full</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Main View Content</h1>
<table border="1">
    <thead>
        <tr>
            <th>Account Name</th>
            <th>Account Balance</th>
        </tr>
    </thead>
    {{#each accounts}}
        {{> header.hbs this}}
    {{/each}}
</table>
    
</body>
</html>

