<footer>
    <p>Scotbank Created by <a href="https://gitlab.cis.strath.ac.uk/cs217/2024/asep-2024-team-1/scotbank" target="_blank">CS217 Group 1</a></p>
    <p><a href="contact">Support</a></p>
</footer>