{{#block "header"}}
    <h1>Scotbank Homepage</h1>
{{/block}}

{{#block "content"}}
    {{#user}}
        <p>Hello {{name}}! You have £{{balance}} in your account</p>
    {{/user}}
{{/block}}

{{#block "footer"}}
    <footer>Created for CS217</footer>
{{/block}}