<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Home</title>
    {{> style.hbs}}
</head>
<body>

{{> navbar.hbs}}

<!-- Header -->
<header class="w3-container w3-light-blue w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">SCOTBANK</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>Welcome to ScotBank, where trust meets tradition</h1>
            <h5 class="w3-padding-32">
                Our services include:
                <ul>
                    <ul>Creating secure bank accounts</ul>
                    <ul>View account details</ul>
                    <ul>View all transactions</ul>
                    <ul>Get details about individual transactions</ul>
                    <ul>View spending summary</ul>
                    <ul>Deposit cheques</ul>
                    <ul>And many more features</ul>
                </ul>
            </h5>

            <h5 class="w3-padding-32">
                We guarantee you will be satisfied with our services. You can always contact our 24/7 support team if you ever experience any issues.
            </h5>
        </div>
    </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <i class="fa fa-coffee w3-padding-64 w3-text-light-blue w3-margin-right"></i>
        </div>

        <div class="w3-twothird">
            <h1>Get RickRolled lol</h1>
            <h5 class="w3-padding-32">
                Ooh (Give you up)
                Ooh-ooh (Give you up)
                Ooh-ooh
                Never gonna give, never gonna give (Give you up)
                Ooh-ooh
                Never gonna give, never gonna give (Give you up)

                We've known each other for so long
                Your heart's been aching, but you're too shy to say it (To say it)
                Inside, we both know what's been going on (Going on)
                We know the game, and we're gonna play it

                I just wanna tell you how I'm feeling
                Gotta make you understand
            </h5>

            <p class="w3-text-grey">Never gonna give you up
                Never gonna let you down
                Never gonna run around and desert you
                Never gonna make you cry
                Never gonna say goodbye
                Never gonna tell a lie and hurt you
                Never gonna give you up
                Never gonna let you down
                Never gonna run around and desert you
                Never gonna make you cry
                Never gonna say goodbye
                Never gonna tell a lie and hurt you
                Never gonna give you up
                Never gonna let you down
                Never gonna run around and desert you
                Never gonna make you cry
                Never gonna say goodbye
                Never gonna tell a lie and hurt you
            </p>
        </div>
    </div>
</div>

{{> footer.hbs}}

</body>
</html>
