<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Home</title>
    {{> style.hbs}}
</head>

<script>
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
    }
</script>

<body>

{{> navbar.hbs}}

<div class="banner">
    <div class="banner-content">
        <h1>ScotBank</h1>
        <h3>Where trust meets tradition.</h3>
    </div>
</div>

<div class="full-section">
    <h2>Why join us?</h2>
    <p>ScotBank is currently Scotlands number one... blah blah</p>

    <h2>Our services include</h2>
    <ul>
        <li>Creating secure bank accounts</li>
        <li>View account details</li>
        <li>View all transactions</li>
        <li>Get details about individual transactions</li>
        <li>View spending summary</li>
        <li>Deposit cheques</li>
        <li>And many more features</li>
    </ul>
</div>

<div class="sub-section">
    <h2>Our Team</h2>
    <p>Our team are committed to providing the highest quality service as possible. </p>

    <div class="w3-row-padding">
        <div class="w3-container w3-third">
            <img src="/assets/employee1.png" style="width:100%;cursor:pointer"
                 onclick="onClick(this)" class="w3-hover-opacity">
        </div>
        <div class="w3-container w3-third">
            <img src="/assets/employee2.png" style="width:100%;cursor:pointer"
                 onclick="onClick(this)" class="w3-hover-opacity">
        </div>
        <div class="w3-container w3-third">
            <img src="/assets/employee3.png" style="width:100%;cursor:pointer"
                 onclick="onClick(this)" class="w3-hover-opacity">
        </div>
    </div>

    <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-animate-zoom">
            <img id="img01" style="width:100%">
        </div>
    </div>

    <h2>Our promise</h2>
    <p>We guarantee you will be satisfied with all of our services. If you ever experience any issues, have feedback or complaints, you can always contact our 24/7 support team, and we will do everything possible to resolve your issue.</p>
</div>

{{> footer.hbs}}

</body>
</html>
