<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Home</title>
    {{> style.hbs}}
</head>
<body>

{{> navbar.hbs}}
<div class="announcement-bar" >
    <p>2nd highest ranking bank according to JPMorgan Chase & Co</p>
</div>
<div class="banner">
    <h1>ScotBank</h1>
    <h2>The place where trust meets tradition.</h2>
</div>
<div class="full-section">
    <h2>Why join us?</h2>
    <p>ScotBank has recently been ranked the United Kingdoms #1 ranked bank in overall bank performance and customer service. At ScotBank, we pride ourselves on our commitment to customer satisfaction, always going above and beyond what is expected of us! Whether you are trying to keep your money safe or grow your savings investing in us, is an investment in yourself. If its the ease of being able to see your daily transactions and filter them or just access your banking anywhere anytime, we have you covered. By joining ScotBank today, you are making the right choice!</p>

    <h2>Our services include</h2>
    <ul>
        <li>Creating secure bank accounts</li>
        <li>View account details</li>
        <li>View all transactions</li>
        <li>Get details about individual transactions</li>
        <li>View spending summary</li>
        <li>Deposit cheques</li>
        <li>And many more...</li>
    </ul>
</div>

<div class="sub-section">
    <h2>Our Team</h2>
    <p>Meet our leaders who are committed to providing the highest quality service as possible. </p>
</div>
<div class="full-section">
    <h2>About us</h2>
    <p>ScotBank was founded in early 2024 as part of a project for CS217 Agile Software Engineering in Practice.</p>
    <p>ScotBank a workplace where people can make an impact.</p>
    <p>More content coming soon.</p>
    <p></p>
</div>

<div class="sub-section">
    <h2>Our promise</h2>
    <p>We guarantee you will be satisfied with all of our services. If you ever experience any issues, have feedback or complaints, you can always contact our 24/7 support team, and we will do everything possible to resolve your issue.</p>
</div>

{{> footer.hbs}}

</body>
</html>
