<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Login</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> style.hbs}}

<body>
{{> navbar.hbs}}
<div class="container">
    <form action="/loginSave" method="post">
        <h2>Login to account</h2>
        <input id="username" name="username" placeholder="Enter Username" required="" maxlength="20" tabindex="1" type="text">

        <input id="password" name="password" placeholder="Enter Password" required="" tabindex="2" type="password">

        <input name="submit" id="submit" tabindex="3" value="Go to account" type="submit"><br>

        <a href="register">Don't have an account?</a>
    </form>
</div>
{{> footer.hbs}}
</body>
</html>
