
<head>
    {{> style.hbs}}
</head>
<body>
<div class="topnav" id="myTopnav">
    <a href="overview">Overview</a>
<!--    <a href="accounts">Accounts</a>-->
    <a href="/"><img src="/assets/logo.png" alt="ScotBank" width="auto" height="50"></a>
    <a href="login" style="float: right">{{user.name}}</a>
</div>
</body>