
<head>
    {{> style.hbs}}
</head>
<body>
<div class="topnav" id="myTopnav">
    {{#userLoggedIn}}
        <a href="overview">Overview</a>
    {{^}}
        <a href="/">Home</a>
    {{/userLoggedIn}}
<!--    <a href="accounts">Accounts</a>-->
    <a href="/"><img src="/assets/white.png" alt="ScotBank" width="auto" height="40"></a>
    {{#userLoggedIn}}
        <a href="profile" style="float: right">{{user.name}}</a>
    {{^}}
        <a href="login" style="float: right">Login</a>
    {{/userLoggedIn}}
</div>
</body>