<!DOCTYPE html>
<html lang="en">
<head>
    {{> style.hbs}}
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="overview">Overview</a>
        <a href="/"><img src="/assets/logo.png" alt="ScotBank" width="auto" height="50"></a>
        <a href="login" style="float: right">Account</a>
    </div>
</body>
</html>