
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Home</title>
    {{> style.hbs}}
</head>
<body>
{{> navbar.hbs}}
<div>
    <div class="full-section">
        <h2>ScotBank</h2>
        <h3>Welcome {{user.name}},</h3> <!--    Change to account associated variables-->
    </div>

    <!--    Change to account associated variables-->
    <div class="card">
        <h4>Savings</h4>
        <h3>{{account.getFormattedBalance}}</h3>
        <div class="side-by-side">
            <h5>{{account.sortCode}}</h5>
            <h5>{{account.accountNumber}}</h5>
        </div>
    </div>

    <div class="buttons">
        <button class="button"><a href="transactionForm">Pay someone</a></button>
        <button class="button"><a href="#">Deposit cheque</a></button>
        <button class="button"><a href="#">Request Payment</a></button>
    </div>
</div>

<!--    Transactions and sorting - Clickable will provide more details-->
<div class="sub-section">
    <h3>Transactions</h3>
    <!--        START WHILE-->
    <div class="row">
        <div class="small-column">
            Icon
        </div>
        <div class="large-column">
            Entertainment
            <br>
            Cineworld Ticket
        </div>
        <div class="small-column">
            £20
        </div>
    </div>
    <!--        END CREATE WHILE LOOP-->
    <!--                PLACEHOLDER START-->
    <div class="row">
        <div class="small-column">
            Icon
        </div>
        <div class="large-column">
            Food
            <br>
            Asda Shopping
        </div>
        <div class="small-column">
            £40
        </div>
    </div>
    <div class="row">
        <div class="small-column">
            Icon
        </div>
        <div class="large-column">
            Food
            <br>
            Asda Shopping
        </div>
        <div class="small-column">
            £40
        </div>
    </div>
    <!--        PLACEHOLDER END-->

</div>
{{> footer.hbs}}
</body>
</html>
