<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Overview</title>
    {{> style.hbs}}
</head>
<body>
{{> navbar.hbs}}
<div>
    <div class="fullSection">
        <h2>Welcome {{user.name}},</h2>
    </div>

    <h4 class="card">
        <h4>{{account.getFormattedBalance}}</h4>
        <div class="side-by-side">
            <div class="number">{{account.sortCode}}</div>
            <div class="number">{{account.accountNumber}}</div>
        </div>
    </div>

    <!--    Pay someone / Deposit cheque / Request Payment buttons-->
    <div class="buttons">
        <a href="/transactionForm" class="button">Pay Someone</a>
        <button class="button">Deposit cheque</button>
        <button class="button">Request Payment</button>
    </div>
</div>
<!--    Transactions and sorting - Clickable will provide more details-->
<div class="sub-section">
    <h3>Transactions</h3>
    <!--        START WHILE-->
    <div class="row">
        <div class="small-column">
            Icon
        </div>
        <div class="large-column">
            Entertainment
            <br>
            Cineworld Ticket
        </div>
        <div class="small-column right">
            £20
        </div>
    </div>
    <!--        END CREATE WHILE LOOP-->
    <!--                PLACEHOLDER START-->
    <div class="row">
        <div class="small-column">
            Icon
        </div>
        <div class="large-column">
            Food
            <br>
            Asda Shopping
        </div>
        <div class="small-column right">
            £40
        </div>
    </div>
    <div class="row">
        <div class="small-column">
            Icon
        </div>
        <div class="large-column">
            Food
            <br>
            Asda Shopping
        </div>
        <div class="small-column right">
            £40
        </div>
    </div>
    <!--        PLACEHOLDER END-->

</div>
{{> footer.hbs}}
</body>
</html>