
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Overview</title>
    {{> style.hbs}}
    <script>
        window.addEventListener('scroll', function() {
            var scrollSection = document.querySelector('.scroll-section');
            if (window.scrollY > 0) {
                scrollSection.style.opacity = '1'; // Fade out
            } else {
                scrollSection.style.opacity = '0'; // Fade in
            }
        });
    </script>
</head>
<body>
{{> navbar.hbs}}
<div class="announcement-bar" >
    <p>Checkout the new spending summary feature!</p>
</div>
<div>

    <div class="card">
        <h4>{{user.name}}</h4>
        <h3>{{account.getFormattedBalance}}</h3>
        <div class="side-by-side">
            <h5>{{account.sortCode}}</h5>
            <h5>{{account.accountNumber}}</h5>
        </div>
    </div>

    <div class="buttons">
        <button class="button"><a href="spendingSummary">Spending summary</a></button>
        <button class="button"><a href="transactionForm">Pay/Receive transaction</a></button>
        <button class="button"><a href="savingsPot">Savings pot</a></button>
    </div>
</div>

<!--    Transactions and sorting - Clickable will provide more details-->
<!--scroll-section-->
<div class="sub-section">
    <h3>Transactions</h3>
    <!--        START WHILE-->
    {{#each transactions}}
            {{> tableRowTrans.hbs this}}
    {{/each}}
    <!--        END CREATE WHILE LOOP-->
    <!--                PLACEHOLDER START
    <div class="row">
        <div class="small-column">
            Icon
        </div>
        <div class="large-column">
            Food
            <br>
            Asda Shopping
        </div>
        <div class="small-column">
            £40
        </div>
    </div>
    <div class="row">
        <div class="small-column">
            Icon
        </div>
        <div class="large-column">
            Food
            <br>
            Asda Shopping
        </div>
        <div class="small-column">
            £40
        </div>
    </div>-->
    <!--        PLACEHOLDER END-->

</div>
</div>
{{> footer.hbs}}
</body>
</html>
