<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Home</title>
    {{> style.hbs}}
</head>
<body>
<div class="w3-row-padding w3-padding-64 w3-container">
    <h1>View your profile below.</h1>
    {{> navbar.hbs}}
git
    <div class="sub-section">
        <h3>Full Name</h3>
        <div class="row">
            <div class="small-column">
                Peter Griffin
            </div>
        </div>

        <h3>Email</h3>
        <div class="row">
            <div class="small-column">
                pgriff@griff.com
            </div>
        </div>

        <h3>Phone Number</h3>
        <div class="row">
            <div class="small-column">
                01234567890
            </div>
        </div>

        <h3>Address</h3>
        <div class="row">
            <div class="small-column">
                31 Spooner Street
            </div>

    </div>

    <div class="sub-section">
        <h3>Sort-Code</h3>
        <div class="row">
            <div class="small-column">
                12-34-56
            </div>
        </div>

        <h3>Account Number</h3>
        <div class="row">
            <div class="small-column">
                123456789
            </div>
        </div>


</div>
</div>
            {{> footer.hbs}}
</body>
</html>

