<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Register</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> style.hbs}}
</head>
<body>
{{> navbar.hbs}}
<div class="container">
    <form action="/registerSave" method="post">
        <h2>Create an account</h2>
        <input id="username" name="username" placeholder="Enter Username" required="" maxlength="20" tabindex="1" type="text">

        <input id="name" name="name" placeholder="Enter Full Legal Name" required="" maxlength="30" tabindex="2" type="text">

        <input id="password" name="password" placeholder="Enter Password" required="" tabindex="3" type="password">

        <input id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required="" tabindex="4" type="password">

        <label>Date of Birth:</label>

        <input id="dob" name="dob" required="" tabindex="5" type="date"><br>

        <input name="submit" id="submit" tabindex="3" value="Go to account" type="submit"><br>

        <a href="login">Already have an account?</a>
    </form>
</div>

{{> footer.hbs}}
</body>
</html>

