<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Savings Pot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> style.hbs}}
</head>
<body>
{{> navbar.hbs}}
<div class="page-container">
    <div class="full-section">
        <h1>Savings Pot</h1>
        <h1>{{account.getFormattedBalance}}</h1>
        <div class="full-section">
            <div class="buttons"><button class="button"><a href="#">Savings On / Off</a></button></div>
        </div>
    </div>
</div>


{{> footer.hbs}}
</body>
</html>

