<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Savings Pot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> style.hbs}}
</head>
<body>
{{> navbar.hbs}}
<div class="page-container">
    <div class="full-section">
        <h1>Savings Pot</h1>
        <div class="card">
            <h4>Savings</h4>
            <h3>{{account.getFormattedBalance}}</h3>
            <div class="side-by-side">
                <h5>{{account.sortCode}}</h5>
                <h5>{{account.accountNumber}}</h5>
            </div>
        </div>
        <div class="full-section">
            <p>You can turn your account from on / off savings mode from here.</p>
            <div class="buttons"><button class="button"><a href="#">On / Off</a></button></div>
        </div>
    </div>
</div>


{{> footer.hbs}}
</body>
</html>

