<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Savings Pot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> style.hbs}}
</head>
<body>
{{> navbar.hbs}}
<div class="full-section">
    <h1>Savings Pot</h1>
</div>


{{> footer.hbs}}
</body>
</html>

