<div class="row">
  <div class="small-column">
    Icon
  </div>
  <div class="large-column">
    {{this.category}}
    <br />
    {{this.recipient.user.name}}
  </div>
  <div class="small-column">
    £{{this.amount}}
  </div>
</div>
