<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Transaction Form</title>
    {{> style.hbs}}
</head>
<body>
{{> navbar.hbs}}
<div class="w3-row-padding w3-padding-64 w3-container">
    <h1>Fill out the transaction form below.</h1>
    <form>
        <label for="Amount">Amount:</label><br>
        <input type="text" id="amount" name="amount"><br>

        <label for="Recipient">Recipient:</label><br>
        <input type="text" id="recipient" name="recipient">

        <label for="Ref">Reference:</label><br>
        <input type="text" id="ref" name="ref"><br>

        <label for="Category">Choose a category:</label>

        <select  id="category" name="category">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>

        <br><br>
        <input type="submit" value="Submit Form">
        <input type="reset" value="Reset Form"><br>
    </form>
</div>
{{> footer.hbs}}
</body>
</html>

