<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Transaction Form</title>
    {{> style.hbs}}
</head>
<body>
{{> navbar.hbs}}
    <div class="form-container">
        <form>
        <h1>Create an account</h1>

        <input id="recipient" name="recipient" placeholder="Enter recipient" required="" maxlength="20" tabindex="1" type="text">
            <input id="amount" name="amount" placeholder="Enter amount" required="" maxlength="20" tabindex="2" type="text">
            <input id="ref" name="ref" placeholder="Add a reference" maxlength="20" tabindex="3" type="text">

        <label for="Category">Choose a category:</label>

        <select  id="category" name="category">
            <option value="Bills">Bills</option>
            <option value="Shopping">Shopping</option>
            <option value="Food">Food</option>
            <option value="Entertainment">Entertainment</option>
        </select><br>

        <input name="submit" id="submit" tabindex="3" value="Go to account" type="submit"><br>
        <input type="reset" value="Reset Form"><br>
    </form>
</div>
{{> footer.hbs}}
</body>
</html>