<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Transactions</title>
    {{> style.hbs}}
</head>
<body>
<div class="w3-row-padding w3-padding-64 w3-container">
    <table border="1">
        <thead>
            <tr>
                <th>time</th>
                <th>category</th>
                <th>id</th>
                <th>amount</th>
                <th>status</th>
                <th>reference</th>
                <th>sender</th>
                <th>recipient</th>
            </tr>
        </thead>
        {{#each transactions}}
            {{> tableRowTrans.hbs this}}
        {{/each}}
    </table>
</div>
{{> footer.hbs}}
</body>
</html>

