<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Transaction Form</title>
    {{> style.hbs}}

    <script>
        function form1() {
            document.getElementById("pay").style.display="block";
            document.getElementById("payButton").style.color="#4CAF50";
            document.getElementById("payButton").style.borderColor="#4CAF50";

            document.getElementById("get").style.display="none";
            document.getElementById("getButton").style.color="#708090";
            document.getElementById("getButton").style.borderColor="#708090";
        }
        function form2() {
            document.getElementById("pay").style.display="none";
            document.getElementById("payButton").style.color="#708090";
            document.getElementById("payButton").style.borderColor="#708090";

            document.getElementById("get").style.display="block";
            document.getElementById("getButton").style.color="#4CAF50";
            document.getElementById("getButton").style.borderColor="#4CAF50";
        }
    </script>

</head>
<body>
{{> navbar.hbs}}
<div style="text-align: center">
<button class="button-left" id="payButton" onClick="form1()" style="border-color: #4CAF50; color: #4CAF50;">Pay Someone</button>
<button class="button-right" id="getButton" onClick="form2()">Request Payment</button>
</div>
    <div class="form-container">
        <form id="pay">
            <h1>Make a Payment</h1>
            <input id="recipient" name="recipient" placeholder="Recipient name" required="" maxlength="20" tabindex="1" type="text">
                <input id="sort" name="sort" placeholder="Recipient sort code" required="" maxlength="8" tabindex="2" type="text">
                <input id="account" name="account" placeholder="Recipient account number" required="" maxlength="8" tabindex="3" type="text">
                <input id="amount" name="amount" placeholder="Enter amount" required="" maxlength="20" tabindex="4" type="text">
                <input id="ref" name="ref" placeholder="Add a reference" maxlength="20" tabindex="5" type="text">

            <label for="Category">Choose a category:</label>

            <select  id="category" name="category">
                <option value="Bills">Bills</option>
                <option value="Shopping">Shopping</option>
                <option value="Food">Food</option>
                <option value="Entertainment">Entertainment</option>
            </select><br>

            <input name="submit" id="submit" tabindex="3" value="Confirm Transaction" type="submit"><br>
        </form>

    <form id="get" style="display:none">
        <h1>Requent a Payment</h1>
        <input id="recipient" name="recipient" placeholder="Recipient name" required="" maxlength="20" tabindex="1" type="text">
        <input id="sort" name="sort" placeholder="Recipient sort code" required="" maxlength="8" tabindex="2" type="text">
        <input id="account" name="account" placeholder="Recipient account number" required="" maxlength="8" tabindex="3" type="text">
        <input id="amount" name="amount" placeholder="Enter amount" required="" maxlength="20" tabindex="4" type="text">
        <input id="ref" name="ref" placeholder="Add a reference" maxlength="20" tabindex="5" type="text">

        <label for="Category">Choose a category:</label>
        <select  id="category" name="category">
            <option value="Bills">Bills</option>
            <option value="Shopping">Shopping</option>
            <option value="Food">Food</option>
            <option value="Entertainment">Entertainment</option>
        </select><br>

        <input name="submit" id="submit" tabindex="3" value="Send Request" type="submit"><br>
    </form>
</div>

{{> footer.hbs}}
</body>
</html>